# Auto detect text files and perform LF normalization
* text=auto

# Explicitly ensure text files use LF
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.geojson text eol=lf
Dockerfile text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

# Binary files - do not touch
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.pt binary
*.pyc binary
